<footer>
  <div class="container">
    <p>
      made by
      <a href="https://jankohlbach.com" target="_blank">
        https://jankohlbach.com
      </a>
    </p>
  </div>
</footer>

<style lang="scss">
  footer {
    padding-block: to-rem(20);
  }

  .container {
    display: flex;
    justify-content: center;
  }

  a {
    position: relative;

    &::before {
      content: '✌️';
      position: absolute;
      top: -5%;
      left: 105%;
      opacity: 0;
      transform: rotate(-10deg) translateY(30%) rotate(-45deg);
      transition: all 0.7s var(--ease-spring);
    }

    @include has-hover {
      &:hover {
        &::before {
          opacity: 1;
          transform: none;
        }
      }
    }
  }
</style>
