<header>
  <div class="container">
    <a href="/">Home</a>
    <nav>
      <ul>
        <li><a href="/page-1">Page 1</a></li>
        <li><a href="/page-2">Page 2</a></li>
        <li>
          <a
            href="https://github.com/jankohlbach/css-page-transition-based-on-view-transition"
            target="_blank"
          >
            GitHub
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<style lang="scss">
  header {
    padding-block: to-rem(20);
  }

  .container {
    display: flex;
    justify-content: space-between;
  }

  a {
    text-decoration: none;
  }

  ul {
    display: flex;
    gap: to-rem(20);
    list-style: none;
  }
</style>
